@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

.footers {
  margin-bottom: 0;
}

.footers .footer-redes {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footers .footer-redes img {
  width: 20px;
  height: 20px;
  padding: 10px;
}

.footers .footer-redes li {
  list-style-type: none;
}

.seccion-index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 450px;
}

.titulo1 {
  color: black;
  font-size: 5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 550;
}

.titulo2 {
  color: black;
  font-size: 3rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  margin-top: 10px;
}

.bg-img {
  background: url("../img/bokeh-background-with-dusty-pink.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.bg-img {
  width: 100%;
  height: 100vh;
}

/* para boostrap */
.bg-navbar {
  background-color: #F7F7F7;
}

.titulo-contacto {
  font-size: 1.5 rem;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #F05454;
}

.titulo-logo {
  font-size: 22px;
  font-weight: 800;
  color: #101010;
  font-family: 'Montserrat', sans-serif;
}

.navBoost {
  display: flex;
  justify-content: end;
}

.navA {
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  color: #101010;
  font-family: 'Montserrat', sans-serif;
  padding: 5px;
}

/*  */
nav {
  background-color: #F7F7F7;
  padding: 22px;
}

.navbar {
  display: flex;
  justify-content: end;
}

.navbar li {
  margin: 0 15px;
  list-style-type: none;
}

.navbar li a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  color: #101010;
  font-family: 'Montserrat', sans-serif;
}

.navbar li a:hover {
  color: #FF6363;
  font-weight: 500;
}

.logo {
  position: absolute;
  top: 20px;
  left: 50px;
  font-size: 22px;
  font-weight: 600;
  color: #1c1a1a;
  font-family: "Montserrat", sans-serif;
}

.logo:hover {
  color: #F05454;
}

/* seccion acerca de mi */
.about-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

/* mixin */
.about-content img {
  height: auto;
  width: 550px;
  border: 2px solid #493e3e;
  border-radius: 10px;
  margin: 60px 20px 10px 80px;
}

.about-content .titulo-about {
  padding: 2px;
  text-align: center;
  color: #242424;
  font-size: 2rem;
  margin-bottom: 15px;
  font-family: "Montserrat", sans-serif;
}

.about-content div p {
  width: 80%;
  padding: 5px;
  margin-left: 40px;
  margin-bottom: 30px;
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  text-align: justify;
}

.bg-color {
  width: 100%;
  height: 100vh;
  background-color: #ece8df;
}

/* seccion servicios */
.card-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5px;
}

.servicios-card, .card-contenido {
  width: 20%;
}

.card-contenido {
  margin: 15px;
  cursor: pointer;
  overflow: hidden;
}

.card-contenido img {
  width: 70px;
  height: 70px;
  margin: 15px 0 0 20px;
  margin-left: 90px;
}

.card-contenido h4 {
  text-align: center;
  font-size: 1.8rem;
  padding: 5px 0;
  font-family: "Montserrat", sans-serif;
  color: #292929;
}

.card-contenido p {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  padding: 5px;
}

.titulo-servicios {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  margin-top: 10px;
}

/* Seccion Links de interes */
.links-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.links-title {
  font-size: 2.5rem;
  text-align: center;
  padding: 20px;
  font-family: 'Montserrat', sans-serif;
}

.img-links img {
  width: 680px;
  border: 0.5px solid #242424;
  border-radius: 10px;
  margin-top: 5px;
}

.links-info ul li {
  list-style-type: none;
  padding: 2px;
  margin: 3px 0;
}

.links-info {
  margin-top: 5px;
}

.links-info ul li a {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1rem;
  text-align: center;
  color: #241e5e;
}

/* seccion Clientes */
.clientes-container {
  width: 100%;
  display: flex;
}

.clientes-content {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
}

.clientes-img img {
  width: 200px;
  height: auto;
}

/* medias queries */
@media screen and (max-width: 1190px) {
  .about-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  .about-content img {
    width: 550px;
    border: 2px solid #493e3e;
    border-radius: 10px;
    margin: 50px 20px 10px 70px;
  }
  .about-content .titulo-about {
    padding: 2px;
    color: #242424;
    font-size: 2rem;
    margin-top: 60px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
  }
  .about-content div p {
    width: 80%;
    padding: 5px;
    margin-left: 40px;
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
    text-align: justify;
  }
}

@media screen and (max-width: 1122px) {
  .about-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  .about-content img {
    width: 550px;
    border: 2px solid #493e3e;
    border-radius: 10px;
    margin: 50px 20px 10px 80px;
  }
  .about-content .titulo-about {
    padding: 3px;
    color: #242424;
    font-size: 2rem;
    margin-top: 60px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
  }
  .about-content div p {
    width: 80%;
    padding: 5px;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
    text-align: justify;
  }
  .card-img img {
    width: 70px;
    height: 70px;
    margin: 15px 0 0 20px;
    margin-left: 85px;
  }
}

@media screen and (max-width: 1080px) {
  .about-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  .about-content img {
    width: 520px;
    border: 2px solid #493e3e;
    border-radius: 10px;
    margin: 50px 20px 10px 80px;
  }
  .about-content .titulo-about {
    padding: 3px;
    color: #242424;
    font-size: 2rem;
    margin-top: 80px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
  }
  .about-content div p {
    width: 80%;
    padding: 5px;
    margin-left: 30px;
    margin-top: 15px;
    margin-bottom: 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
    text-align: justify;
  }
  .card-img img {
    width: 70px;
    height: 70px;
    margin: 15px 0 0 20px;
    margin-left: 80px;
  }
}

@media screen and (max-width: 1074px) {
  .about-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  .about-content img {
    width: 520px;
    border: 2px solid #493e3e;
    border-radius: 10px;
    margin: 50px 20px 10px 80px;
  }
  .about-content .titulo-about {
    padding: 3px;
    color: #242424;
    font-size: 2rem;
    margin-top: 70px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
  }
  .about-content div p {
    width: 80%;
    padding: 5px;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
    text-align: justify;
  }
  .card-img img {
    width: 70px;
    height: 70px;
    margin: 15px 0 0 20px;
    margin-left: 75px;
  }
}

@media screen and (max-width: 1024px) {
  .about-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  .about-content img {
    width: 520px;
    border: 2px solid #493e3e;
    border-radius: 10px;
    margin: 50px 20px 10px 80px;
  }
  .about-content .titulo-about {
    padding: 3px;
    color: #242424;
    font-size: 2rem;
    margin-top: 40px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
  }
  .about-content div p {
    width: 80%;
    padding: 5px;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
    text-align: justify;
  }
}

@media screen and (max-width: 985px) {
  .about-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  .about-content img {
    width: 500px;
    border: 2px solid #493e3e;
    border-radius: 10px;
    margin: 20px 20px 10px 80px;
  }
  .about-content .titulo-about {
    padding: 3px;
    color: #242424;
    font-size: 1.7rem;
    margin-top: 50px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
  }
  .about-content div p {
    width: 80%;
    padding: 5px;
    margin-left: 80px;
    margin-bottom: 40px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
    text-align: justify;
  }
  .card-contenido {
    width: 70%;
    cursor: default;
  }
  .card-img img {
    width: 70px;
    height: 70px;
    margin: 15px 0 0 20px;
    margin-left: 300px;
  }
  .card-titulo p {
    width: 50%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding: 5px;
    margin: auto;
  }
}

@media screen and (max-width: 950px) {
  .card-img img {
    margin-left: 295px;
  }
  .card-titulo p {
    width: 50%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding: 5px;
    margin: auto;
  }
}

@media screen and (max-width: 899px) {
  .card-img img {
    margin-left: 275px;
  }
  .card-titulo p {
    width: 50%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding: 5px;
    margin: auto;
  }
}

@media screen and (max-width: 840px) {
  .titulo1 {
    font-size: 4.8rem;
  }
  .titulo2 {
    font-size: 2.7rem;
    margin-top: 10px;
  }
  .about-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  .about-content img {
    width: 450px;
    border: 2px solid #493e3e;
    border-radius: 10px;
    margin: 50px 20px 10px 80px;
  }
  .about-content .titulo-about {
    padding: 3px;
    color: #242424;
    font-size: 1.7rem;
    margin-top: 30px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
  }
  .about-content div p {
    width: 80%;
    padding: 5px;
    margin-left: 80px;
    margin-bottom: 60px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
    text-align: justify;
  }
  .card-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
  }
  .card-contenido {
    width: 60%;
    margin: 15px;
    cursor: default;
    overflow: hidden;
  }
  .card-img img {
    width: 70px;
    height: 70px;
    margin: 15px 0 0 20px;
    margin-left: 210px;
  }
}

@media screen and (max-width: 800px) {
  .titulo1 {
    font-size: 4.6rem;
  }
  .titulo2 {
    font-size: 2.6rem;
  }
  .about-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  .about-content img {
    width: 400px;
    border: 2px solid #493e3e;
    border-radius: 10px;
    margin: 50px 20px 10px 80px;
  }
  .about-content .titulo-about {
    padding: 3px;
    color: #242424;
    font-size: 1.7rem;
    margin-top: 30px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
  }
  .about-content div p {
    width: 80%;
    padding: 5px;
    margin-left: 80px;
    margin-bottom: 60px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
    text-align: justify;
  }
}

@media screen and (max-width: 768px) {
  .titulo1 {
    font-size: 4.4rem;
  }
  .titulo2 {
    font-size: 2.5rem;
    margin-top: 10px;
  }
  .about-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  .about-content img {
    width: 470px;
    border: 2px solid #493e3e;
    border-radius: 10px;
    margin: 50px 20px 10px 30px;
  }
  .about-content .titulo-about {
    padding: 2px;
    color: #242424;
    font-size: 1.8rem;
    margin-top: 15px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
  }
  .about-content div p {
    width: 80%;
    padding: 5px;
    margin-left: 40px;
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    text-align: justify;
  }
  .card-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
  }
  .card-contenido {
    width: 60%;
    margin: 15px;
    cursor: default;
    overflow: hidden;
  }
  .card-img img {
    width: 70px;
    height: 70px;
    margin: 15px 0 0 20px;
    margin-left: 190px;
  }
  .card-titulo p {
    width: 50%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding: 5px;
    margin: auto;
  }
}

@media screen and (max-width: 715px) {
  .titulo1 {
    font-size: 4.2rem;
  }
  .titulo2 {
    font-size: 2.6rem;
    margin-top: 10px;
  }
  .about-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  .about-content img {
    width: 460px;
    border: 2px solid #493e3e;
    border-radius: 10px;
    margin: 40px 20px 10px 30px;
  }
  .about-content .titulo-about {
    padding: 2px;
    color: #242424;
    font-size: 1.8rem;
    margin-top: 15px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
  }
  .about-content div p {
    width: 80%;
    padding: 5px;
    margin-left: 40px;
    margin-top: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    text-align: justify;
  }
  .card-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
  }
  .card-contenido {
    width: 60%;
    margin: 15px;
    cursor: default;
    overflow: hidden;
  }
  .card-img img {
    width: 70px;
    height: 70px;
    margin: 15px 0 0 20px;
    margin-left: 180px;
  }
  .card-titulo p {
    width: 50%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding: 5px;
    margin: auto;
  }
}

@media screen and (max-width: 713px) {
  .titulo1 {
    font-size: 4.1rem;
  }
  .titulo2 {
    font-size: 2.6rem;
    margin-top: 10px;
  }
  .about-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  .about-content img {
    width: 450px;
    border: 2px solid #493e3e;
    border-radius: 10px;
    margin: 40px 20px 10px 30px;
  }
  .about-content .titulo-about {
    padding: 2px;
    color: #242424;
    font-size: 1.8rem;
    margin-top: 15px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
  }
  .about-content div p {
    width: 80%;
    padding: 5px;
    margin-left: 40px;
    margin-top: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    text-align: justify;
  }
  .card-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
  }
  .card-contenido {
    width: 60%;
    margin: 15px;
    cursor: default;
    overflow: hidden;
  }
  .card-img img {
    width: 70px;
    height: 70px;
    margin: 15px 0 0 20px;
    margin-left: 175px;
  }
  .card-titulo p {
    width: 50%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding: 5px;
    margin: auto;
  }
}

@media screen and (max-width: 667px) {
  .titulo1 {
    font-size: 3.9rem;
  }
  .titulo2 {
    font-size: 2.5rem;
    margin-top: 7px;
  }
  .about-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  .about-content img {
    width: 440px;
    border: 2px solid #493e3e;
    border-radius: 10px;
    margin: 40px 20px 10px 30px;
  }
  .about-content .titulo-about {
    padding: 2px;
    color: #242424;
    font-size: 1.8rem;
    margin-top: 15px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
  }
  .about-content div p {
    width: 80%;
    padding: 5px;
    margin-left: 40px;
    margin-top: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    text-align: justify;
  }
  .card-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
  }
  .card-contenido {
    width: 60%;
    margin: 15px;
    cursor: default;
    overflow: hidden;
  }
  .card-img img {
    margin: 15px 0 0 20px;
    margin-left: 160px;
  }
  .card-titulo p {
    width: 50%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding: 5px;
    margin: auto;
  }
}

@media screen and (max-width: 650px) {
  .titulo1 {
    font-size: 3.7rem;
  }
  .titulo2 {
    font-size: 2.5rem;
    margin-top: 7px;
  }
  .about-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  .about-content img {
    width: 440px;
    border: 2px solid #493e3e;
    border-radius: 10px;
    margin: 40px 20px 10px 30px;
  }
  .about-content .titulo-about {
    padding: 2px;
    color: #242424;
    font-size: 1.8rem;
    margin-top: 15px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
  }
  .about-content div p {
    width: 80%;
    padding: 5px;
    margin-left: 40px;
    margin-top: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    text-align: justify;
  }
  .card-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
  }
  .card-contenido {
    width: 60%;
    margin: 15px;
    cursor: default;
    overflow: hidden;
  }
  .card-img img {
    margin: 15px 0 0 20px;
    margin-left: 160px;
  }
  .card-titulo p {
    width: 50%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding: 5px;
    margin: auto;
  }
}

@media screen and (max-width: 620px) {
  .titulo1 {
    font-size: 3.7rem;
  }
  .titulo2 {
    font-size: 2.5rem;
    margin-top: 7px;
  }
  .about-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  .about-content img {
    width: 440px;
    border: 2px solid #493e3e;
    border-radius: 10px;
    margin: 40px 20px 10px 30px;
  }
  .about-content .titulo-about {
    padding: 2px;
    color: #242424;
    font-size: 1.8rem;
    margin-top: 15px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
  }
  .about-content div p {
    width: 80%;
    padding: 5px;
    margin-left: 40px;
    margin-top: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    text-align: justify;
  }
  .card-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
  }
  .card-contenido {
    width: 60%;
    margin: 15px;
    cursor: default;
    overflow: hidden;
  }
  .card-img img {
    margin: 15px 0 0 20px;
    margin-left: 150px;
  }
  .card-titulo p {
    width: 50%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding: 5px;
    margin: auto;
  }
}

@media screen and (max-width: 588px) {
  .titulo1 {
    font-size: 3.5rem;
  }
  .titulo2 {
    font-size: 2.5rem;
    margin-top: 7px;
  }
  .about-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  .about-content img {
    width: 440px;
    border: 2px solid #493e3e;
    border-radius: 10px;
    margin: 40px 20px 10px 30px;
  }
  .about-content .titulo-about {
    padding: 2px;
    color: #242424;
    font-size: 1.8rem;
    margin-top: 15px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
  }
  .about-content div p {
    width: 80%;
    padding: 5px;
    margin-left: 40px;
    margin-top: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    text-align: justify;
  }
  .card-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
  }
  .card-contenido {
    width: 60%;
    margin: 15px;
    cursor: default;
    overflow: hidden;
  }
  .card-img img {
    margin: 15px 0 0 20px;
    margin-left: 140px;
  }
  .card-titulo p {
    width: 50%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding: 5px;
    margin: auto;
  }
}

@media screen and (max-width: 565px) {
  .titulo1 {
    color: black;
    font-size: 3.1rem;
  }
  .titulo2 {
    font-size: 2.3rem;
    margin-top: 5px;
  }
  .about-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  .about-content img {
    width: 420px;
    border: 2px solid #493e3e;
    border-radius: 10px;
    margin: 30px 20px 10px 30px;
  }
  .about-content .titulo-about {
    padding: 2px;
    color: #242424;
    font-size: 1.8rem;
    margin-top: 15px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
  }
  .about-content div p {
    width: 80%;
    padding: 5px;
    margin-left: 40px;
    margin-top: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    text-align: justify;
  }
  .card-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
  }
  .card-contenido {
    width: 60%;
    height: 100%;
    margin: 15px;
    cursor: default;
    overflow: hidden;
  }
  .card-img img {
    margin: 15px 0 0 20px;
    margin-left: 130px;
  }
  .card-titulo p {
    width: 50%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding: 5px;
    margin: auto;
  }
}

@media screen and (max-width: 537px) {
  .titulo1 {
    color: black;
    font-size: 2.8rem;
  }
  .titulo2 {
    font-size: 2.3rem;
    margin-top: 5px;
  }
  .about-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  .about-content img {
    width: 420px;
    border: 2px solid #493e3e;
    border-radius: 10px;
    margin: 30px 20px 10px 30px;
  }
  .about-content .titulo-about {
    padding: 2px;
    color: #242424;
    font-size: 1.8rem;
    margin-top: 15px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
  }
  .about-content div p {
    width: 80%;
    padding: 5px;
    margin-left: 40px;
    margin-top: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    text-align: justify;
  }
  .card-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
  }
  .card-contenido {
    width: 60%;
    height: 100%;
    margin: 15px;
    cursor: default;
    overflow: hidden;
  }
  .card-img img {
    margin: 15px 0 0 20px;
    margin-left: 125px;
  }
  .card-titulo p {
    width: 50%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding: 5px;
    margin: auto;
  }
}

@media screen and (max-width: 520px) {
  .card-img img {
    margin: 15px 0 0 20px;
    margin-left: 112px;
  }
  .card-titulo p {
    width: 50%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding: 5px;
    margin: auto;
  }
}

@media screen and (max-width: 492px) {
  .titulo1 {
    font-size: 2.9rem;
  }
  .titulo2 {
    font-size: 2.5rem;
    margin-top: 7px;
  }
  .about-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  .about-content img {
    width: 440px;
    border: 2px solid #493e3e;
    border-radius: 10px;
    margin: 40px 20px 10px 30px;
  }
  .about-content .titulo-about {
    padding: 2px;
    color: #242424;
    font-size: 1.8rem;
    margin-top: 15px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
  }
  .about-content div p {
    width: 80%;
    padding: 5px;
    margin-left: 40px;
    margin-top: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    text-align: justify;
  }
  .card-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
  }
  .card-contenido {
    width: 60%;
    margin: 15px;
    cursor: default;
    overflow: hidden;
  }
  .card-img img {
    margin: 15px 0 0 20px;
    margin-left: 115px;
  }
  .card-titulo p {
    width: 50%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding: 5px;
    margin: auto;
  }
}
/*# sourceMappingURL=styles.css.map */