

.seccion-index {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 450px;  
}
.titulo1  {
        color: $tituloColor;
        font-size: 5rem;
        font-family: 'Montserrat', sans-serif;
        font-weight: 550;
    }

.titulo2{
        color: $tituloColor;
        font-size: 3rem;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        margin-top: 10px;
        
    }






.bg-img{
    background: url('../img/4918431.jpg');
    background-repeat: no-repeat ; 
    background-size: cover; 
    background-attachment: fixed; 
}
.bg-img {
    width: 100%;
    height: 100vh;
}